/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.devcontainer
.DS_Store

.byebug_history

/node_modules
/yarn-error.log

/.bundle

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

spec/examples.txt
